*img {
  width: 100%;
  height: 100%;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 50px 150px 157px 150px;

}

nav ul li {
    list-style: none;
    text-decoration: none;
}

.logo {
    color: #484848;
    font-size: 35px;
    font-weight: bold;
}

  /* btn hober */
  
.btn-primary {
    background-color: #000000;
    font-weight: bold;
    color: white;
    font-size: 16px;
    padding: 12px 36px 12px 36px;
    border-radius: 10px;
    border: none;

}

.btn-primary:hover {
    border: 1px solid #bbbbbb;
    background: #bbbbbb;
    transition: 1s;
}

/* heaser image */

.header-img-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
 width: 1380px;
 margin: 0px auto;
}

.product-title {
  text-align: center;
  font-size: 46px;
  font-weight: bold;
}

.product-description {
  text-align: center;
  font-size: 18px;
  color: gray;
  margin-bottom: 30px;
}

.card-section {
    width: 1280px;
    margin: 0px auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

/* card btn */

.product-btn-container{
    width: 1280px;
  margin: 0px auto;
  display: flex;
  justify-content: space-around;
}


.product-btn{
    padding: 15px;
    border-radius: 8px;
    border: none;
    font-size: 16px;
    color: gray;
    margin-top: 30px;
}

.product-btn-women{
    padding: 15px;
    border-radius: 15px;
    border: none;
    font-size: 16px;
    color: white;
    background-color: black;
}

/* footer section */

.footer-container{
    width: 1280px;
    margin: 0px auto;
    margin-top: 40px;
}

.footer-content{
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.footer-icon{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}